.form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 15px;
    background-color: white;
    padding: 10px; /* Add padding for better spacing */
  }
  
  .form_header_left {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ensure items are aligned to the start */
  }
  
  .form_name {
    border: none;
    outline: none;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #202124;
    width: 120px;
  }
  
  .form_header_icon {
    color: #202124;
    font-size: 20px;
    margin-right: 10px; /* Add consistent spacing between icons */
  }
  
  .form_name:focus {
    border-bottom: 1px solid black;
  }
  
  .form_header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the end */
  }
  
  .form_header_right .MuiIconButton-root {
    margin-left: 10px; /* Add spacing between IconButtons */
  }
  
  .form_header_right .MuiAvatar-root {
    margin-left: 10px; /* Add spacing before the Avatar */
  }
  